@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

/* *{
  outline: 1px dotted red;
} */

/* 공통css */
*{
  font-family: 'Nanum Gothic', sans-serif;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 10px;
}
body::after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 9999;
  animation: delAni 3s 3s forwards;
}
@keyframes delAni {
  to{
    height: 0;
  }
}

a{
  text-decoration: none;
  color: #000;
}
.inbox{
  max-width: 128rem;
  margin: 0 auto;
}


/* 상단영역 */
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.top_menu ul{
  display: flex;
  align-items: center;
}
.top_menu > ul > li{
  position: relative;
  margin: 0 .3rem;
}
.top_menu > ul > li:nth-child(1)::after,
.top_menu > ul > li:nth-child(2)::after{
  content: '▼';
  display: block;
  position: absolute;
  top: .2rem;
  right: -.3rem;
  color: #444;
}
.top_menu a{
  font-size: 1.4rem;
  padding: .8rem 1.2rem;
}
#login_btn{ /* 클래스로 주면 안먹히는 이유?  */
  display: block;
  text-align: center;
  line-height: 1.2rem;
  background-color: #ffc600;
  border-radius: 20px;
  font-size: 1.2rem;
}

/* 서브메뉴 */
.smenu{
  display: none;
  position: absolute;
  top: 2.5rem;
  left: .5rem;
  width: 7rem;
  text-align: center;
  background: #fff;
  border: 1px solid #808080;
}
.top_menu li:hover .smenu{
  display: block;
}
.smenu a{
  font-size: 1.2rem;
  line-height: 3rem;
  color: #777;
}
.smenu li{
  border-bottom: 1px solid #ddd;
}
.smenu li:hover{
  background-color: #eee;
}
.smenu li:hover a{
  color: #000;
}

/* 햄버거버튼 */
.ham{
  display: none;
  position: absolute;
  right: 3rem;
  transform: scale(1.5, 2);
}
.ham::before{
  content: '≡';
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
}
/* 메인영역 */
.cont{
  width: 100%;
  max-width: none;  /* .inbox에 max-width:128rem을 줘서 이미지가 더 이상 커지지 않기 때문에 none을 줘야 화면에 꽉참 */
  height: 70rem;
  background: url(../images/bg_main_toparea.png) no-repeat;
}

/* gnb메뉴 */
.gnb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 114rem;
  height: 11.5rem;
  margin: 0 auto;
}
.left_menu, .right_menu{
  display: flex;
}
.left_menu li:hover a,
.right_menu li:hover a{
  color: #ffc600;
}
.left_menu a, .right_menu a{
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
}
.left_menu a{
  padding-right: 4rem;
}
.right_menu a{
  padding-left: 4rem;
}

/* 캐릭터박스 */
.coin_box {
  position: absolute;
  bottom: 0;
  left: 11rem;
  max-width: 128rem;
  margin: 0 auto;
  white-space: nowrap;
  z-index: 11;
}
.cbx{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 10rem;
}
.cha{
  width: 15%;
  margin: 0 2rem;
  margin-top: -150vh;
  animation: chaAni 2s ease-in-out forwards;
}
@keyframes chaAni {
  to{
    margin-top: 0;
  }
}
.cha:nth-child(2){
  animation-delay: .5s;
}
.cha:nth-child(3){
  animation-delay: 1s;
}
.cha:nth-child(4){
  animation-delay: 1.5s;
}
.ci{
  transition: .3s;
}
.cha:hover .ci{
  margin-top: -30%;
}
.ci img{
  width: 100%;
}
.cha:hover .ci img{
  height: 20rem;
}
.desc{
  height: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, .5);
  transition: height .4s ease-out;
}
.cha:hover .desc{
  height: 18.5rem;
}
.desc h2{
  font-size: 1.8rem;
  color: #b11829;
  padding: 1rem;
}
.desc p{
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #fff;
  padding: 0 1rem;
  text-align: justify;
}
/* 코인이미지 */
.coin_box{
  position: absolute;
  bottom: -4rem;
  left: 25rem;
  max-width: 128rem;
  margin: 0 auto;
  white-space: nowrap;
  z-index: 11;
}
.coin_box img{
  width: 22rem;
  opacity: .3;
  margin-right: -6rem;
}
.coin_box img:hover{
  transform: scale(1.3);
  opacity: 1;
}
.coin_shadow{
  position: absolute;
  bottom: -3.5rem;
  left: 25rem;
  white-space: nowrap;
}
.coin_shadow img{
  max-width: 22rem;
  margin-right: -6rem;
  
}
/* 배너 */
.banner{
  position: absolute;
  top: 26.5rem;
  left: 12rem;
}
.banner a{
  display: block;
}
.banner a:first-child{
  margin-bottom: 5rem;
}

/* 하단영역 */
.infobox{
  display: flex;
  align-items: center;
  height: 7.2rem;
  padding-left: 12rem;
}
.footer_logo{
  margin-right: 4rem;
}
.infobox ul{
  display: flex;
}
.infobox a{
  padding: 0 1.5rem;
  font-size: 1.4rem;
  color: #898989;
}
#privacy{  /* 클래스로 주면 안먹히는 이유?  */
  color: #000;  
}
.addr{
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0 2rem 32.5rem;
}
address{
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-style: normal;
  color: #888;
}
.grade_box{
  display: flex;
  margin: 0 5rem 0 12rem;
}
.gbox{
  height: 6.3rem;
  padding: .3rem 1rem;
  background-color: #b11829;
  color: #e18989;
}
.gbox li{
  font-size: 1.1rem;
  line-height: 1.8;
  border-bottom: 1px solid #c14654;
  /* .gbox li에 패딩을 줘서 boder-bottom 선이 앞 뒤로 끊기는데 안끊기고 처음부터 끝까지 선을 주는방법은? */
}
.gbox li:last-child{
  border-bottom: none;
}
.gbox span{
  color: #ebd3d3;
}
.grade{
  width: 12.6rem;
}
.num{
  width: 17.6rem;
  margin-left: .1rem;
}
.copy{
  margin-top: 2rem;
}
.mark{
  width: 6.8rem;
  height: 8.1rem;
}
.mark img{
  width: 100%;
}
.line{
  position: relative;
  bottom: 17.5rem;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}