@charset "utf-8";

.inbox{
  max-width: 117rem;
  margin: 0 auto;
}
.ir{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.bar::after{
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -0.7rem;
  width: 0;
  height: 0.6rem;
  margin: 0 auto;
  background-color: #f2c000;
  transition: .5s;
}


