@charset "utf-8";

@import url(reset.css);
@import url(common.css);
@import url(core.css);

/* 배너광고 */
.ad_banner_bg{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.ad_banner{
  position: absolute;
  top: 16rem;
  right: 18rem;
  width: 29rem;
  height: 45rem;
  z-index: 1;
}
.ad_banner img{
  width: 100%;
  height: 100%;
}
.ad_banner_btn .ad_btn{
  position: absolute;
  bottom: 0;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}
.ad_banner_btn .ad_btn a{
  color: #fff;
  font-size: 1.5rem;
}
.notToday{
  width: 60%;
  background-color: #5c5953;
}
.btn_close{
  right: 0;
  width: 40%;
  background-color: #373737;
}
.popupbg{
  background-color: rgba(0, 0, 0, 0.6);
}

/* 메인영역 */
  .cont{
    max-width: none;
    margin-bottom: 10rem;
  }
  .slide_bg{
    position: relative;
    width: 100%;
    height: 90vh;
    float: left;
    overflow: hidden;
    margin-bottom: 6rem;
  }
  .slide{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
  }
  .slide li{
    flex-shrink: 0;
    flex-basis: 100%;
  }
  .slide li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .abtn{
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    color: #d9d1c7;
  }
  .fa-angle-left, .fa-angle-right{
    font-size: 12rem;
  }
  .fa-angle-right{
    position: absolute;
    right: -142rem;
    transform: translateY(-50%);
  }
  .indic{
    display: flex;
  }
  .bullet li{
    position: relative;
    top: 58rem;
    left: 17.5rem;
    display: inline-block;
    width: 5rem;
    height: 0.4rem;
    background-color: #cfc6bc;
    opacity: 1;
    margin-right: 0.7rem;
    cursor: pointer;
  }
  .bullet li.on{
    background-color: #f2c000;
  }
  
  .story{
    padding-top: 10.5rem; 
  }
  .story h2::after{
    content: '';
    display: inline-block;
    width: calc(117rem - 17.2rem);
    height: 1.5rem;
    background-color: #373737;
    margin-bottom: 0.2rem;
    margin-left: 2.5rem;
  }
  .story_box ul{
    display: flex;
  }
  .story_box ul li{
    position: relative;
    top: 30rem;
    width: 37rem;
    height: 26.6rem;
    margin-right: 3rem;
    opacity: 0;
    animation: boxUp 1s forwards
  }
  @keyframes boxUp {
    to{
      top: 0;
      opacity: 1;
    }
  }
  .story_box ul li:nth-child(2){
    animation-delay: .3s;
  }
  .story_box ul li:last-child{
    margin-right: 0;
    animation-delay: .5s;
  }
  .story_box img{
    width: 100%;
    height: 20.5rem;
  }
  .stxt{
    position: absolute;
    bottom: .2rem;
    width: 100%;
    height: 6rem;
    background-color: #333;
    font-size: 1.5rem;
    color: #fff;
    line-height: 6rem;
    padding-left: 2.8rem;
  }
  .story_box li:hover .stxt{
    color: #f6ca00;
  }
  .stxt::after{
    content: '\f105';
    font-family: fontawesome;
    position: absolute;
    top: 0;
    right: 2rem;
  }
  .stxt a{
    font-size: 1.5rem;
  }

  /*  */
  .recommend{
    display: none;
  }

  /* section3 브랜드 철학 */
  .brand_box{
    position: relative;
    width: 100%;
    max-height: 60rem;
    margin-top: 6rem;
    overflow: hidden; /* 이미지 스케일 */
  }
  .brand_images{
    height: 60rem;
    background: url(/images/main_visual_02.jpg) no-repeat;
    transition: 3s;
  }
  .brand:hover .brand_images{
    transform: scale(1.1);
  }
  .btxt{
    position: absolute;
    top: 0;
    left: 5rem;
    width: 37rem;
    height: 100%;
    padding: 5.7rem 2.6rem 0;
    color: #fff;
    z-index: 1;
  }
  .btxt::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  .bold_txt{
    font-size: 3.6rem;
  }
  .brand .line{
    background-color: #fff;
  }
  .normal_txt{
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: -0.05rem;
    color: #dadada;
  }
  .brand_btn{
    margin-top: 12.5rem;
    width: 16.5rem;
    height: 5.5rem;
    border: 2px solid #fff;
    text-align: center;
    line-height: 5.5rem;
    transition: .3s ease-in-out;
  }
  .brand_btn a{
    font-size: 1.5rem;
    color: #fff;
  }
  .brand_btn:hover{
    background-color: #fff;
  }
  .brand_btn:hover a{
    color: #333;
  }

  /* section4 식재료 이야기 */
  .food_box{
    position: relative;
    margin-top: 6rem;
    cursor: pointer;
    background-color: #eeecec;
  }
  .food_txt{
    overflow: hidden;
  }
  .food_txt > figure{
    width: 100%;
  }
  .food_txt figcaption{
    position: relative;
    float: left;
    width: 37rem;
    height: 45rem;
    padding: 2.5rem 2.8rem 0;
    border-bottom: .6rem solid #373737;
  }
  .food_txt .images{
    float: left;
    height: 45rem;
  }
  .food_txt .images img{
    width: 100%;
    height: 100%;
  }
  .food_txt .normal_txt{
    color: #333;
  }
  .line{
    margin: 3.5rem 0 2rem;
    background-color: #333;
  }
  .food_txt p{
    font-size: 1.6rem;
  }
  .food_txt .arrow_btn{
    margin: 4.5rem 0 3rem;
  }
  .food_box:hover .food_btn::before,
  .food_box:hover .food_btn::after{
    color: #f2c000;
  }

  /* section5 가맹점 */
  .branch_box{
    width: 100%;
    margin-top: 6rem;
    overflow: hidden;
  }
  .branch_wrap, .branch_cont{
    float: left;  
  }
  .branch_wrap{
    margin-right: 3rem;
    padding: 4.5rem 3rem 0;
    background-color: #f6ca00;
  }
  .branch_wrap .normal_txt{
    color: #333;
  }
  .branch_wrap1{
    display: flex;
  }
  .branch_wrap1 li{
    flex: 1;
  }
  .branch_wrap1 li:first-child{
    margin-right: 3rem;
  }
  .branch_cont figure .images{
    width: 100%;
    height: 23rem;
    margin-right: 3rem;
  }
  .branch_cont .images img{
    width: 100%;
    height: 100%;
  }
  .branch_cont figcaption{
    position: relative;
    height: 21rem;
    background-color: #ddd;
    padding: 2.5rem 2.8rem 0;
  }
  .branch_cont figcaption::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.6rem;
    background-color: #333;
  }
  .branch_cont figcaption b{
    font-size: min(2.4rem, 2.5vw);
    color: #333;
    font-weight: bold;
    word-spacing: -0.40rem;
  }
  .branch_cont figcaption .arrow_btn{
    position: absolute;
    bottom: 2rem;
    font-size: 1.3rem;
  }
  .bb{
    width: 37rem;
    height: 44rem;
  }
